     button {
            background-image: url('bross.jpg');
            background-size: cover;
            width: 300px;
            height: 200px;
            font-size: 2rem;
        }  
   

.ross {
            background-image: url('bross.jpg');
            background-size: cover;
            width: 300px;
            height: 200px;
            font-size: 2rem;
        }  
.chan
        {
            background-image: url('chan.jpg');
            background-size: cover;
            width: 300px;
            height: 200px;
            font-size: 2rem;
        }
    
    